<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand d-flex">
        <%= link_to cl_image_tag("ahlwbejjiduxlnpusqp9.png", width: 30, height: 30, crop: :fill), lists_path %>
        <div class="pl-2">My Watch List app</div>
      </div>
</nav>
    <%= yield %>
  </body>
</html>
